.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.container.grid-list-lg .layout .flex {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.container.grid-list-lg .layout:only-child {
  margin: auto -15px;
}
.container.fluid {
  padding: 0;
}
.container.grid-list-lg *:not(:only-child) .layout:last-child {
  margin-bottom: 0;
}
.container.grid-list-lg *:not(:only-child) .layout:first-child {
  margin-top: 0;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

html {
  font-size: 17px;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

a {
  color: $primary;
}

.application {
  display: flex;
  background: #fff;
  color: $primary;
  font-family: $font-book;
  line-height: 28px;
}

.application--wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  /* -webkit-box-direction: normal; */
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}

.text-uppercase {
  text-transform: uppercase;
}
.is-uppercase-link a:before, a.uppercase-link:before {
  content: "";
  background-image: url("/images/arrow-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 1px;
  width: 10px;
  height: 9px;
}

.accent {
  background-color: $accent_color;
  color: #fff;
}

.v-btn {
  padding: 0 40px;
  font-family: $font-heavy;
  align-items: center;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  height: 48px;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  min-width: 70px;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  transition: .3s cubic-bezier(.25,.8,.5,1),color 1ms;
  position: relative;
  user-select: none;
  box-sizing: border-box;
  &:hover {
    color: #fff;
    opacity: 0.9;
  }
  &.sky {
    background-color: #f2f6ff;
    color: $accent_color;
    &:hover {
      background-color: #d6e2ff;
    }
  }
  &.white {
    background-color: #fff;
    color: $accent_color;
  }
}

.form-control {
  margin-bottom: 30px;
}

.input-control {
  width: 100%;
  padding: 8px 0;
  max-height: 32px;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  color: $primary;
  font-size: 17px;
  line-height: 28px;
  font-family: $font-book;
  outline: none;
}

.offset-left {
  padding-left: 8%;
}

.base-header {
	margin-top: 125px;
	margin-bottom: 70px;
	position: relative;
	.square {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		height: 48px;
		margin-top: 50px;
		&:before {
			content: '';
			position: absolute;
			width: 48px;
			height: 48px;
			right: 0;
			bottom: 0;
			background-color: $accent_color;
		}
	}
	hr {
		max-width: 48px;
		position: relative;
		left: 15px;
		top: 0;
		margin-bottom: 20px;
		margin-top: 20px;
    @include tablet {
      left: 0;
      margin-top: 30px;
    }
	}
	.sub-title {
		max-width: 756px;
		margin-left: 15px;
    @include tablet {
      margin-left: 0;
    }
	}
  .offset-left {
    @include tablet {
      padding-left: 0;
    }
  }
}
.base-header-title {
	position: relative;
	display: flex;
	&:before {
		content: '';
		left: -100%;
		top: 0;
		background-color: $accent_color;
		position: absolute;
		width: 100%;
		height: 160px;
    @include tablet {
      display: none;
    }
	}
	.white-color {
		color: #fff;
		position: relative;
		width: max-content;
		background-color: $accent_color;
		height: 160px;
		display: flex;
		align-items: center;
		padding-right: 5px;
    @include tablet {
      display: none;
    }
	}
	.in-touch {
		margin-left: 15px;
    @include tablet {
      display: none;
    }
	}
	&.bottom {
		padding: 0;
	}
}
.base-header-title__wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 50px;
  @include tablet {
    margin-top: 0;
  }
}

.base-header-mobile {
  background-color: $accent_color;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 47px;
  padding: 40px 80px 40px 15px;
  display: inline-block;
  margin-left: -15px;
  max-width: 100%;
}

.hidden-desktop {
  @media screen and (min-width: 767px) {
    display: none;
  }
}