{{ define "main" }}

<section class="site-blog-list">
  <div class="container">
    <div class="site-blog-list-wrap">
      <div class="posts-main">
        <a href="/blog/digitalizing-businesses-which-made-through-covid-19-outbreak" class="post_item post-large">
          <div class="post_item__inner">
            <div class="post_bg" style="background-image: url(/images/blog/1.jpg);"></div>
            <div class="post_details">
              <div class="decorative-heavy date-mobile">May 29, 2020</div>
              <h2>Digitalizing businesses which made in through COVID-19 outbreak</h2>
              <div class="post_details__info">
                <div class="excerpt">During this crisis, life has changed for everyone - the way we live, communicate with each other, use transport and how we do business. Many businesses made it through the outbreak, and the digitalization could help them.</div>
                <div class="decorative-heavy date">May 29, 2020</div>
              </div>
            </div>
          </div>
        </a>
        <a href="/blog/google-maps-background-svg-map" class="post_item post-small">
          <div class="post_item__inner">
            <div class="post_bg" style="background-image: url(/images/blog/2.jpg);"></div>
            <div class="post_details">
              <div class="decorative-heavy date">May 04, 2020</div>
              <h4>Google maps as background for SVG map</h4>
            </div>
          </div>
        </a>
        <a href="/blog/3-things-helped-me-get-web-design-world" class="post_item post-small">
          <div class="post_item__inner">
            <div class="post_bg" style="background-image: url(/images/blog/3.jpg);"></div>
            <div class="post_details">
              <div class="decorative-heavy date">April 20, 2020</div>
              <h4>3 Things That Helped Me Get Into Web Design World</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="filter-articles">
        <h4 class="filter-title">Article Filter:</h4>
        {{ with .Params.tagItems }}
          <ul class="filter-list clearfix">
            {{ range . }}
              <li class="filter-item"><a href="{{ "tags" | absURL }}/{{ . | urlize }}" class="btn">{{ . }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="all-articles">
  <div class="container">
    <div class="site-blog-list-wrap">
      <div class="all-posts">
        {{ range .Pages }}
          {{ partial "post-item.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}