{{ define "main" }}

<section class="site-blog-list">
  <div class="container">
    <div class="site-blog-list-wrap">
      <div class="posts-main">
        {{ with .Site.GetPage "/blog/digitalizing-businesses-which-made-through-covid-19-outbreak.md" }}
          {{ $formatedDate := .Date.Format "Jan 02, 2006" }}
          <a href="{{ .Permalink | absURL }}" class="post_item post-large">
            <div class="post_item__inner">
              <div class="post_bg" style="background-image: url({{ if .Params.image }}{{ .Params.image }}{{ else }}/images/blog/sharing.png{{ end }});"></div>
              <div class="post_details">
                <div class="decorative-heavy date-mobile">{{ $formatedDate }}</div>
                <h2>{{ .Title }}</h2>
                <div class="post_details__info">
                  <div class="excerpt">{{ .Description | plainify }}</div>
                  <div class="decorative-heavy date">{{ $formatedDate }}</div>
                </div>
              </div>
            </div>
          </a>
        {{ end }}
        {{ with .Site.GetPage "/blog/google-maps-background-svg-map.md" }}
          {{ $formatedDate := .Date.Format "Jan 02, 2006" }}
          <a href="{{ .Permalink | absURL }}" class="post_item post-small">
            <div class="post_item__inner">
              <div class="post_bg" style="background-image: url({{ if .Params.image }}{{ .Params.image }}{{ else }}/images/blog/sharing.png{{ end }});"></div>
              <div class="post_details">
                <div class="decorative-heavy date">{{ $formatedDate }}</div>
                <h4>{{ .Title }}</h4>
              </div>
            </div>
          </a>
        {{ end }}
        {{ with .Site.GetPage "/blog/3-things-helped-me-get-web-design-world.md" }}
          {{ $formatedDate := .Date.Format "Jan 02, 2006" }}
          <a href="{{ .Permalink | absURL }}" class="post_item post-small">
            <div class="post_item__inner">
              <div class="post_bg" style="background-image: url({{ if .Params.image }}{{ .Params.image }}{{ else }}/images/blog/sharing.png{{ end }});"></div>
              <div class="post_details">
                <div class="decorative-heavy date">{{ $formatedDate }}</div>
                <h4>{{ .Title }}</h4>
              </div>
            </div>
          </a>
        {{ end }}
      </div>
      <div class="filter-articles">
        <h4 class="filter-title">Article Filter:</h4>
        {{ with .Params.tagItems }}
          <ul class="filter-list clearfix">
            {{ range . }}
              <li class="filter-item"><a href="{{ "tags" | absURL }}/{{ . | urlize }}" class="btn">{{ . }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="all-articles">
  <div class="container">
    <div class="site-blog-list-wrap">
      <div class="all-posts">
        {{ range .Pages }}
          {{ partial "post-item.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}