{{ define "main" }}

<section class="site-blog-list">
  <div class="container">
    <div class="site-blog-list__wrap">
      <div class="posts-main">
        <a href="/blog/digitalizing-businesses-which-made-through-covid-19-outbreak" class="post_item post-large">
          <div class="post_item__inner">
            <div class="post_bg" style="background-image: url(/images/blog/1.jpg);"></div>
            <div class="post_details">
              <div class="decorative-heavy date-mobile">May 29, 2020</div>
              <h2>Digitalizing businesses which made in through COVID-19 outbreak</h2>
              <div class="post_details__info">
                <div class="excerpt">During this crisis, life has changed for everyone - the way we live, communicate with each other, use transport and how we do business. Many businesses made it through the outbreak, and the digitalization could help them.</div>
                <div class="decorative-heavy date">May 29, 2020</div>
              </div>
            </div>
          </div>
        </a>
        <a href="/blog/google-maps-background-svg-map" class="post_item post-small">
          <div class="post_item__inner">
            <div class="post_bg" style="background-image: url(/images/blog/2.jpg);"></div>
            <div class="post_details">
              <div class="decorative-heavy date">May 04, 2020</div>
              <h4>Google maps as background for SVG map</h4>
            </div>
          </div>
        </a>
        <a href="/blog/3-things-helped-me-get-web-design-world" class="post_item post-small">
          <div class="post_item__inner">
            <div class="post_bg" style="background-image: url(/images/blog/3.jpg);"></div>
            <div class="post_details">
              <div class="decorative-heavy date">April 20, 2020</div>
              <h4>3 Things That Helped Me Get Into Web Design World</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="all-posts">
        <a href="/blog/hiring-software-development-talent-challenge" class="post_item">
          <div class="post_item__pulish-date">
            <div class="day">14</div>
            <div class="date decorative-heavy">Jul 2020</div>
          </div>
          <div class="mobile decorative-heavy">Jul 14, 2020</div>
          <div class="post_item__details">
            <h4 class="post_name">Hiring software development talent challenge</h4>
            <p class="post_excerpt">
              It seems that an ideal interview does not exist. Firstly, such standard prefixes as "junior-middle-senior-lead" are not universal, as each company has its own ratings and metrics and there is too much variety of necessary skills. Moreover, recruitment
              metrics also change with the growth of the company.
            </p>
          </div>
          <div class="post_item__image">
            <img alt="Hiring software development talent challenge" src="https://media.webdevelop.pro/1.Hiring_1f2e2a2cb4ad01ba157998f70cf360153b8e9fd8.jpg">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{{ end }}