<section class="s-team">
  <div class="container">
    <div class="team-items">
      {{ range .Params.teamItems }}
        <div class="team-member">
          <div class="team-member-info">
            <div class="name-social">
              <div class="team-member-photo mobile" style="background-image: url({{ .img }});"></div>
              <div class="social-and-name">
                <div class="name-position">
                  <h4 class="name">{{ .name }}</h4>
                  <div class="position sub-title">{{ .position }}</div>
                </div>
                {{ if .socials }}
                  <div class="social-links">
                    {{ range .socials }}
                      <a target="_blank" href="{{ .href }}">
                        <img src="{{ .img | absURL }}" alt="facebook-logo.svg">
                      </a>
                    {{ end }}
                  </div>
                {{ end }}
              </div>
            </div>
            <div class="details">
              <p>
                {{ .text }}
              </p>
              {{ if .certifications }}
                <div class="certifications">
                  <strong>Certified in:&nbsp;</strong>
                  {{ range .certifications }}
                    <span class="link-wrap">
                      <a href="{{ .link }}" target="_blank" class="link-1">
                        {{ .text }}
                      </a>
                      <span class="comma">,</span>
                    </span>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>
          <div class="team-member-photo" style="background-image: url({{ .img }});"></div>
        </div>
      {{ end }}
    </div>
  </div>
</section>