.footer-top {
	background-color: #1d1d1d;
	padding: 57px 0;
  @include desktop {
    padding-bottom: 5px;
    padding-top: 65px;
  }
      
  &__wrap {
    display: flex;
    @include desktop {
      flex-wrap: wrap;
      max-width: 300px;
      margin: 0 auto;
    }
  }
  &__form {
    width: 25%;
    @include desktop { 
      width: 100%;
    }
    h5 {
      color: #fff;
      margin-bottom: 15px;
    }
    .field-group {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
    .input-control {
      padding: 0 12px;
      max-height: 48px;
      height: 48px;
      width: 207px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    .v-btn {
      width: 70px;
      height: 49px;
      padding: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__menu {
    width: 25%;
    padding: 0 15px;
    @include desktop { 
      width: 100%;
    }
    ul {
      padding-left: 75px;
      margin: 0;
      list-style-type: none;
      @include desktop {
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
        padding-left: 0;
        margin-top: 50px;
        margin-bottom: 65px;
      }
      li {
        margin-bottom: 12px;
        @include desktop {
          width: 50%;
          text-align: center;
          &:nth-child(1) {
            order: 0;
          }
          &:nth-child(2) {
            order: 2;
          }
          &:nth-child(3) {
            order: 1;
          }
          &:nth-child(4) {
            order: 3;
          }
        }
        a {
          font-family: $font-book;
          font-weight: 400;
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
  &__contact {
    padding: 0 15px;
    @include desktop { 
      text-align: center;
      margin-bottom: 45px;
    }
    h4 {
      color: #fff;
    }
    .sub-title {
      margin-bottom: 15px;
      color: #fff;
    }
    a {
      color: #fff;
      opacity: .8;
      font-size: 16px;
      font-family: $font-book;
    }
  }
}

.footer-bottom {
	background-color: #101010;
	text-align: center;
	padding: 11px 0;
	p {
		margin-bottom: 0;
		color: #fff;
		opacity: 0.9;
	}
}

.social-links {
  display: flex;
  align-items: center;
  a {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  &.desktop-social {
    @include desktop {
      display: none;
    }
  }
  
  &.mobile-social {
    justify-content: center;
    margin-bottom: 70px;
    display: none;
    @include desktop {
      display: flex;
    }
    a {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}