.top-notif {
  position: relative;
  z-index: 9;
  padding: 8px 15px;
  background-color: #004fff;
  text-align: center;
  @media screen and (max-width: 400px) {
    padding: 5px 15px;
  }
}

.top-notif-link {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  &:hover {
    color: #fff;
    opacity: 0.7;
  }
  @media screen and (max-width: 400px) {
    max-width: 180px;
  }
}

.header {
  height: 56px;
  position: absolute;
  left: 0;
  top: 44px;
  z-index: 6;
  width: 100%;
  @include mt(.2s);
  @include mobile-xs {
    top: 54px;
  }
  .header-toolbar {
    display: flex;
    justify-content: center;
    padding: 15px 0 0 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;
    top: 0;
    z-index: 9;
    @include mt(.2s)
    @include tablet {
      padding: 0;
      background-color: #fff;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.13);
      padding-left: 12px;
      padding-right: 12px;
      justify-content: space-between;
      height: 65px;
      align-items: center;
    }
    .small-logo {
      display: none;
      @include tablet {
        display: flex;
      }
      img {
        width: 47px;
        height: auto;
      }
    }
  }

  &.fixed {
    top: 0;
    z-index: 99;
    .header-toolbar {
      box-shadow: 0 0 16px 0 rgba(0,0,0,0.11);
      background-color: #fff;
      .logo {
        img {
          width: 78px;
          height: 27px;
          @include mt(.3s);
        }
      }
    }
  }
}

.help-ukraine-page {
  .header {
    .header-toolbar {
      transition: none;
      background-color: #fff;
    }
  }
}

.header-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  max-width: 632px;
  width: 100%;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  @include tablet {
    max-width: 300px;
    display: none;
  }
  .logo {
    order: 2;
    a {
      display: flex;
    }
    @include tablet {
      order: -1;
    }
    img {
      width: 100px;
      height: 34px;
      @include mt(.2s);
      @include tablet {
        width: 47px;
        height: auto;
      }
    }
  }
  li {
    position: relative;
    &:nth-child(2) {
      order: 0;
    }
    &:nth-child(3) {
      order: 1;
    }
    &:nth-child(4) {
      order: 2;
    }
    &:nth-child(5) {
      order: 3;
    }
    &.hovering {
      .dropdown-list {
        @include mt(.3s);
        visibility: visible;
        opacity: 1;
      }
    }
    @include tablet {
      padding-top: 15px;
    }
    span {
      cursor: pointer;
    }
    .dropdown-list {
      position: absolute;
      top: 35px;
      left: -8px;
      display: block;
      padding: 12px 15px;
      width: 125px;
      background-color: $white;
      box-shadow: 0 0 13px 0 rgba(51,51,51,0.08);
      border-radius: 1px;
      @include mt(.3s);
      visibility: hidden;
      opacity: 0;
      list-style-type: none;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: -5px;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-right-width: 5px;
        border-left-width: 5px;
        border-bottom: 5px solid $white;
        box-shadow: 0 0 13px 0 rgba(51,51,51,0.08);
      }
      li {
        font-size: 14px;
        padding-bottom: 0;
        line-height: 24px;
        &:hover {
          color: $accent_color;
        }
      }
    }
    > a {
      font-family: $font-book;
      color: $primary;
      &:hover {
        color: $accent_color;
      }
      @include tablet {
        font-size: 16px;
      }
      @include mobile-xs {
        font-size: 14px;
      }
      &.router-link-active {
        color: $accent_color;
      }
    }
  }
}

.header-menu-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
	position: absolute;
	top: 65px;
	right: -100%;
	background-color: #fbfbfb;
	width: 188px;
  @include mt(0.3s);
	padding-bottom: 65px;
	overflow-y: scroll;
  display: none;
	&.is-active {
		right: 0;
	}
	.menu {
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 14px;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		li {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				font-size: 16px;
				line-height: 25px;
				font-family: $font-book;
				padding-right: 15px;
				border-right: solid 3px transparent;
				&.router-link-exact-active {
					border-right: solid 3px $accent_color;
					border-radius: 1px;
				}
			}
		}
	}
	.bottom-wrap {
		border-top: 1px solid rgba(215,215,215,0.2);
		padding: 25px 15px;
		.small-text {
			text-align: center;
		}
		.v-btn {
			max-width: 160px;
			margin-top: 15px;
		}
	}
}

#menu-toggle {
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	span {
		background-color: $primary;
		border-radius: 1px;
		display: block;
	}
	#hamburger {
		position: absolute;
		width: 100%;
		height: 100%;
		span {
			width: 30px;
			height: 3px;
			position: relative;
			top: 0px;
			left: 0px;
			margin: 4px 0;
			&:nth-child(1) {
				transition-delay: 0.5s;
			}
			&:nth-child(2) {
				transition-delay: 0.625s;
				width: 25px;
				left: 5px;
			}
			&:nth-child(3) {
				transition-delay: 0.75s;
				width: 20px;
				left: 10px;
			}
		}
	}
	#cross {
		position: absolute;
		width: 100%;
		height: 100%;
		transform: rotate(45deg);
		span {
			&:nth-child(1) {
				height: 0%;
				width: 3px;
				position: absolute;
				top: 0;
				left: 13px;
				transition-delay: 0s;
			}
			&:nth-child(2) {
				width: 0%;
				height: 3px;
				position: absolute;
				left: 0;
				top: 14px;
				transition-delay: 0.25s;
			}
		}
	}
	&.open {
		#hamburger {
			span {
				width: 0%;
				&:nth-child(1) {
					transition-delay: 0s;
				}
				&:nth-child(2) {
					transition-delay: 0.125s;
				}
				&:nth-child(3) {
					transition-delay: 0.25s;
				}
			}
		}
		#cross {
			span {
				&:nth-child(1) {
					height: 100%;
					transition-delay: 0.625s;
				}
				&:nth-child(2) {
					width: 100%;
					transition-delay: 0.375s;
				}
			}
		}
	}
}