{{ define "main" }}
  <section class="author-single">
    <div class="container">
      <div class="author-single-header">
        <div class="author-single-header__image">
          <div class="author-image">
            <img alt="{{ .Title }}" src="{{ .Params.image }}">
          </div>
        </div>
        <div class="author-single-header__bio">
          <div class="is-h3-title">
            {{ .Title }}
          </div>
          <div class="sub-title">
            {{ .Params.position }}
          </div>
          <p class="short-bio">
            {{ .Description }}
          </p>
        </div>
      </div>
      <div class="author-single__content">
        <div class="filter-articles">
          <h4 class="filter-title">Favorite Tags:</h4>
          {{ with .Params.favoriteTags }}
            <ul class="filter-list clearfix">
              {{ range . }}
                <li class="filter-item"><a href="{{ "tags" | absURL }}/{{ . | urlize }}" class="btn">{{ . }}</a></li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
        <div class="author-single__posts">
          {{ range .Pages }}
            {{ partial "post-item.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}