<div class="service-item">
  <div class="service-item__image">
    <a href="{{ .Permalink | absURL }}" class="service-item__image-link">
      <img src="{{ .Params.image | absURL }}" alt="{{ .Params.postTitle }}">
    </a>
    {{ if .Params.btnUrl }}
      <a href="{{ .Params.btnUrl | absURL }}" class="v-btn v-btn--router theme--light accent">
        Take a look at a case study
      </a>
    {{ end }}
  </div>
  <div class="service-item__content">
    <div class="service-item__headline">
      <h3 class="service-item__title">
        <a href="{{ .Permalink | absURL }}">{{ .Params.postTitle }}</a>
      </h3>
    </div>
    <div class="service-item__item-details">
      {{ .Params.postDescription | safeHTML }}
    </div>
    <div class="service-item__bottom">
      {{ range .Params.captions }}
        <div class="service-item__caption-element">
          <h5>{{ . }}</h5>
        </div>
      {{ end }}
    </div>
    {{ if .Params.btnUrl }}
      <div class="service-item__btn-bottom">
        <a href="{{ .Params.btnUrl | absURL }}" class="v-btn v-btn--router theme--light accent">
          Take a look at a case study
        </a>
      </div>
    {{ end }}
  </div>
</div>