{{ define "main" }}

<section class="text-recognition">
  <div class="container">
    <div class="recognition-top">
      <div class="recognition-header">
        <div class="recognition-header__left">
          <h1 class="is-h2-title">
            {{ .Title }}
          </h1>
          <hr>
          <p class="sub-title">
            {{ .Params.subTitle }}
          </p>
        </div>
        {{ with .Params.tags }}
          <div class="recognition-header__right">
            <div class="post-category-filter">
              <ul class="clearfix">
                {{ range . }}
                  <li class="filter-item">
                    <a href='{{ "tags" | absURL }}/{{ . | urlize }}' class="btn">{{ . }}</a>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
    <div class="recognition-wrapper">
      <div class="text-recognition__header">
        <div class="cube">
          <img src="{{ "images/cube-select.svg" | absURL }}" alt="Icon">
        </div>
        <div class="v-input upload v-text-field v-select v-input--hide-details theme--light">
          <div class="v-input__control">
            <div class="v-input__slot">
              <div class="v-select__slot">
                <label class="v-label theme--light">File Uploading</label>
                <div class="v-select__selections">
                  <input aria-label="File Uploading" custom-content-class="uploading-select" readonly="readonly" type="text" autocomplete="on" aria-readonly="false">
                </div>
              </div>
              <div class="v-menu"></div>
            </div>
          </div>
          <div class="v-input__append-outer">
            <img src="{{ "images/solid-sort-down.svg" | absURL }}" alt="Icon">
          </div>
        </div>
        <div class="type">
          <div class="v-input v-text-field v-select v-input--hide-details theme--light" label="Algorithm" value="doc">
            <div class="v-input__control">
              <div class="v-input__slot">
                <div class="v-select__slot">
                  <label class="v-label theme--light">Algorithm</label>
                  <div class="v-select__selections">
                    <input aria-label="Algorithm" readonly="readonly" type="text" autocomplete="on" aria-readonly="false">
                  </div>
                </div>
                <div class="v-menu"></div>
              </div>
            </div>
            <div class="v-input__append-outer">
              <img src="{{ "images/solid-sort-down.svg" | absURL }}" alt="Icon">
            </div>
          </div>
        </div>
        <div class="language">
          <div class="v-input v-text-field v-select v-input--hide-details theme--light" label="Language" value="detect">
            <div class="v-input__control">
              <div class="v-input__slot">
                <div class="v-select__slot">
                  <label class="v-label theme--light">Language</label>
                  <div class="v-select__selections">
                    <input aria-label="Language" readonly="readonly" type="text" autocomplete="on" aria-readonly="false">
                  </div>
                </div>
                <div class="v-menu"></div>
              </div>
            </div>
            <div class="v-input__append-outer">
              <img src="{{ "images/solid-sort-down.svg" | absURL }}" alt="Icon">
            </div>
          </div>
        </div>
        <button type="button" class="v-btn theme--light accent">
          Process
        </button>
      </div>
      <div class="text-recognition__content">
        <img class="default-img-preview" src="{{ "images/default-recognition-image.svg" | absURL }}">
        <div class="text-wrap">
          <div class="v-progress-circular progress v-progress-circular--indeterminate accent--text">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="22.857142857142858 22.857142857142858 45.714285714285715 45.714285714285715" style="transform: rotate(0deg);"><circle fill="transparent" cx="45.714285714285715" cy="45.714285714285715" r="20" stroke-width="5.714285714285714" stroke-dasharray="125.664" stroke-dashoffset="125.66370614359172px" class="v-progress-circular__overlay"></circle></svg>
            <div class="v-progress-circular__info"></div>
          </div>
          <img class="default-text-preview" src="{{ "images/default-text-recognition.svg" | absURL }}">
        </div>
      </div>
    </div>
    <div class="book-call-small-section">
      <div class="book-call-small">
        <div class="book-call-small__icon">
          <img src="/images/rocket-icon-white.svg" alt="rocket">
        </div>
        <div class="book-call-small__content">
          <h3>Do you consieder building a similar product?</h3>
          <p>Our experts can brief you out on what to keep in mind from the technical side. If you interested, let’s book a short online meeting.</p>
        </div>
        <div class="book-call-small__btn">
          <a href="{{ "/contacts/" | absURL }}" class="v-btn theme--light accent">
            Book a call
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}