{{ define "main" }}

<section class="site-approach">
  {{ partial "base-title.html" . }}
  <div class="container">
    <div class="site-approach-top">
      <div class="spec-item">
        <div class="title-counter">
          <div class="counter">01</div>
          <h4>One Project - One Team</h4>
        </div>
        <p>
          We are a team of experienced software engineers with 10+ 
          years in various IT fields. We have proven track record 
          in fintech, webdev, machine learning, web design, 
          blockchain engineering, and IoT. We believe that the best result is achieved when
          dev team concentrates on one project at a time. 
          We offer a wide range of custom software development and consulting services.
        </p>
      </div>
      <div class="spec-item item-two">
        <div class="title-counter">
          <div class="counter">02</div>
          <h4>Services we offer</h4>
        </div>
        <ul>
          <li>Building and managing development teams;</li>
          <li>Building an MVP with our startup dev kit;</li>
          <li>Fintech Software;</li>
          <li>IoT Software;</li>
          <li>E-commerce Software;</li>
          <li>AI/ML Software Development;</li>
          <li>Distributed network and Blockchain Development;</li>
          <li>CTO as a Service</li>
        </ul>
        <p>
          Our primary languages are Python, Golang, and Javascript. 
          We are using a lot of different tools: Django, Aiohttp, 
          Vuejs, GoSec, TestCafe, Figma, Sketch, Kubernetes, etc. 
          Our most important business objective and our passion is assembling result-driven
          development teams to build great products for your business goals.
        </p>
      </div>
      <div class="spec-item item-three">
        <div class="title-counter">
          <div class="counter">03</div>
          <h4>How it works</h4>
        </div>
        <p>
          Our team of professionals is at your service. We also 
          cooperate with many top-notch web engineers, designers, 
          and testers. In case our skillset is not enough, we 
          will invite specialists with necessary skills to build a great team exclusively for
          your project. Through the years we have developed an extensive set of 
          libraries and frameworks that helps us speed up the product 
          development process and save your time and money. We strive 
          to build products that are reliable and maintainable in the future.
        </p>
      </div>
    </div>
    <div class="our-aproach-details">
      <div class="layout">
        <div class="our-aproach-details-header">
          <h2 id="balanced-team" class="text-uppercase">In more detail</h2>
          <hr>
          <p class="sub-title">Balanced development team</p>
        </div>
      </div>
      <div class="layout">
        <div class="flex lg4 mb12 sm12 xs12">
          <p>In our experience, the most time-saving and cost-effective team requires 7 roles:</p>
          <ul>
            <li>Designer</li>
            <li>Project Manager/Business process manager</li>
            <li>Lead engineer</li>
            <li>Backend engineer</li>
            <li>Frontend engineer</li>
            <li>DevOps</li>
            <li>Quality Assurance Engineer.</li>
          </ul>
        </div>
        <div class="diagram">
          
        </div>
      </div>
      <div class="bottom-text">
        <div class="left">
          <p class="small-text">
            For a company in its early stages or a new startup we recommend replacing DevOps, 
            Quality Assurance Engineer, and project manager with an extra frontend engineer. 
            More established startups should have a full-time DevOps, QA engineer,
            and a Project Manager. Adding an extra Designer and a Frontend engineer 
            is also a good idea. We value transparency and direct communication 
            with our customers. We can set up 2-4 weeks long business 
            trips for our development team to come to your office twice a year.
          </p>
        </div>
        <div class="right-wrap">
          <a href="/how-we-work" class="v-btn v-btn--router theme--light accent">
            Our Workflow
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}