{{ define "main" }}

<section class="site-approach">
  {{ partial "base-title.html" . }}
  <div class="container">
    <div class="site-approach-top">
      {{ range .Params.specItems }}
        <div class="spec-item {{ .cls }}">
          <div class="title-counter">
            <div class="counter">{{ .counter }}</div>
            <h4>{{ .title }}</h4>
          </div>
          {{ if .list }}
            <ul>
              {{ range .list }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          {{ end }}
          <p>
            {{ .text }}
          </p>
        </div>
      {{ end }}
    </div>
    <div class="our-aproach-details">
      {{ $details := .Params.approachDetails }}
      <div class="our-aproach-details-header">
        <h2 id="balanced-team" class="text-uppercase">
          {{ $details.title }}
        </h2>
        <hr>
        <p class="sub-title">
          {{ $details.subTitle }}
        </p>
      </div>
      <div class="our-aproach-details__row">
        <div class="our-aproach-details__text">
          <p>
            {{ $details.shortDescr }}
          </p>
          <ul>
            {{ range $details.list }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
        <div class="diagram">
          <img src="{{ "images/scheme.svg" | absURL }}" alt="">
        </div>
      </div>
      <div class="bottom-text">
        <div class="left">
          <p class="small-text">
            {{ $details.text }}
          </p>
        </div>
        <div class="right-wrap">
          <a href="/how-we-work" class="v-btn v-btn--router theme--light accent">
            Our Workflow
          </a>
        </div>
      </div>
    </div>
    <div class="specialists-roles">
      <h2 class="text-uppercase">
        {{ .Params.tabs.title }}
      </h2>
      <ul class="v-expansion-panel theme--light">
        {{ range .Params.tabs.tabItems }}
          <li class="v-expansion-panel__container role-item v-expansion-panel__container--active">
            <div class="v-expansion-panel__header">
              <div class="toggle-btn">
                <div class="icon-arrow"></div>
              </div>
              <h4 class="header-title">
                {{ .title | safeHTML }}
              </h4>
            </div>
            <div class="v-expansion-panel__body">
              <div class="content">
                {{ .text | safeHTML }}
              </div>
            </div>
          </li>
        {{ end }}
      </ul>
    </div>
    <div class="specialist-form">
      {{ $expertise := .Params.sectionExpertise }}
      <div class="specialist-form__header">
        <h2 class="text-uppercase">
          {{ $expertise.title }}
        </h2>
        <hr>
        <p class="sub-title">
          {{ $expertise.subTitle }}
        </p>
      </div>
      {{/*  <div class="site-approach-slider">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-duplicate">
              <a href="/docs/Project-Manager.pdf" target="_blank" class="item">
                <img src="{{ "images/Project-Manager.png" | absURL }}" alt="Project-Manager">
              </a>
            </div>
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev">
              <a href="/docs/UX_UI.pdf" target="_blank" class="item">
                <img src="{{ "images/UX_UI.png" | absURL }}" alt="UX-UI">
              </a>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> 
        </div>
      </div>  */}}
      <div class="bottom-section">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
    <div class="schema">
      {{ $schemaData := .Params.schema }}
      <div class="schema-header">
        <h3>
          {{ $schemaData.title }}
        </h3>
        <p class="sub-title">
          {{ $schemaData.subTitle }}
        </p>
      </div>
      <div class="schema-content">
          <div class="wrap">
            {{ range $schemaData.leftItems }}
              <div class="item">
                <img class="item-icon" alt="users" src="{{ .imgPath | absURL }}">
                <p class="decorative-heavy text-uppercase">
                  {{ .title }}
                </p>
                <div class="item-chart"></div>
                <div class="item-line"></div>
                <div class="item-description">
                  <ul>
                    {{ range .list }}
                      <li>{{ . }}</li>
                    {{ end }}
                  </ul>
                </div>
              </div>
            {{ end }}
          </div>
          <div class="wrap">
            <div class="wrap-items">
              {{ range $schemaData.rightItems }}
                <div class="item {{ .cls }}">
                  <img class="item-icon" alt="paper-plane" src="{{ .imgPath | absURL }}">
                  <p class="decorative-heavy text-uppercase">
                    {{ .title }}
                  </p>
                  <div class="item-chart"></div>
                  <div class="item-line"></div>
                  <h5>
                    {{ .descr }}
                  </h5>
                </div>
              {{ end }}
            </div>
            <p class="wrap-text small-text">
              {{ $schemaData.text }}
            </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "get-in-touch.html" . }}

{{ end }}