<div class="base-header">
  <div class="container">
    <div class="offset-left">
      <div class="base-header-title bottom">
        <span class="white-color text-uppercase is-h1-title">{{ .Params.titleLeft }}</span>
        <div class="base-header-title__wrap">
          <div class="in-touch text-uppercase is-h1-title">{{ .Params.titleRight }}</div>
          <hr>
          <p class="sub-title">
            {{ .Description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="square"></div>
</div>