<div class="base-header">
  <div class="container">
    <div class="offset-left">
      <h1 class="hidden-desktop base-header-mobile">{{ .Params.titleLeft }} {{ .Params.titleRight }}</h1>
      <div class="base-header-title bottom">
        <span class="white-color text-uppercase is-h1-title">{{ .Params.titleLeft }}</span>
        <div class="base-header-title__wrap">
          <div class="in-touch text-uppercase is-h1-title">{{ .Params.titleRight }}</div>
          {{ if .Description }}
            <hr>
            <p class="sub-title">
              {{ .Description }}
            </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ if .Description }}
    <div class="square"></div>
  {{ end }}
</div>