<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__wrap">
        <div class="footer-top__form">
          <h5>Receive latest news:</h5>
          <form>
            <div class="field-group">
              <input type="text" class="input-control" placeholder="Email">
              <button class="v-btn v-btn--small theme--light accent">Send</button>
            </div>
            <div class="social-links desktop-social">
              <a href="https://www.facebook.com/WebdevelopPro/" target="_blank">
                <img src="{{ "images/facebook-icon.svg" | absURL }}">
              </a>
              <a href="https://www.instagram.com/webdevelop.pro/" target="_blank">
                <img src="{{ "images/instagram-icon.svg" | absURL }}">
              </a>
              <a href="https://www.linkedin.com/company/webdevelop-pro/" target="_blank">
                <img src="{{ "images/linkedin-icon.svg" | absURL }}">
              </a>
              <a href="https://github.com/webdevelop-pro" target="_blank">
                <img src="{{ "images/github-icon.svg" | absURL }}">
              </a>
            </div>
          </form>
        </div>
        <div class="footer-top__menu">
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
          <div class="social-links mobile-social">
            <a href="https://www.facebook.com/WebdevelopPro/" target="_blank">
              <img src="{{ "images/facebook-icon.svg" | absURL }}">
            </a>
            <a href="https://www.instagram.com/webdevelop.pro/" target="_blank">
              <img src="{{ "images/instagram-icon.svg" | absURL }}">
            </a>
            <a href="https://www.linkedin.com/company/webdevelop-pro/" target="_blank">
              <img src="{{ "images/linkedin-icon.svg" | absURL }}">
            </a>
            <a href="https://github.com/webdevelop-pro" target="_blank">
              <img src="{{ "images/github-icon.svg" | absURL }}">
            </a>
          </div>
        </div>
        <div class="footer-top__contact">
          <h4>USA</h4>
          <p class="sub-title">San Francisco</p>
          <a href="tel:+1 609 733 7724">+1 609 733 7724</a>
          <a href="mailto:manager@webdevelop.pro">manager@webdevelop.pro</a>
        </div>
        <div class="footer-top__contact">
          <h4>Ukraine</h4>
          <p class="sub-title">Kyiv</p>
          <a href="tel:+1 609 733 7724">+38 063 440 5605</a>
          <a href="mailto:manager@webdevelop.pro">manager@webdevelop.pro</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>2022 by Webdevelop.pro</p>
    </div>
  </div>
</footer>