<div class="form-get-in-touch">
  <form>
    <div class="form-control">
      <input class="input-control" type="text" placeholder="Your name">
    </div>
    <div class="form-control">
      <input class="input-control" type="email" placeholder="E-mail">
    </div>
    <div class="form-control">
      <input class="input-control" type="text" placeholder="Subject">
    </div>
    <div class="form-control">
      <input class="input-control" type="text" placeholder="Message">
    </div>
    <div class="form-btn">
      <button class="v-btn v-btn--large theme--light accent">Send message</button>
    </div>
  </form>
</div>