<div class="form-get-in-touch">
  <form class="contact-form" method="POST">
    <div class="form-control">
      <input class="input-control contact-from-input" name="name" type="text" placeholder="Your name">
      <span class="form-control-error"></span>
    </div>
    <div class="form-control">
      <input class="input-control contact-from-input" name="email" type="email" placeholder="E-mail">
      <span class="form-control-error"></span>
    </div>
    <div class="form-control">
      <input class="input-control contact-from-input" name="jobtitle" type="text" placeholder="Subject">
      <span class="form-control-error"></span>
    </div>
    <div class="form-control">
      <input class="input-control contact-from-input" name="message" type="text" placeholder="Message">
      <span class="form-control-error"></span>
    </div>
    <div class="form-btn">
      <button type="submit" class="v-btn v-btn--large theme--light accent">Send message</button>
    </div>
  </form>
</div>