<section class="s-get-touch {{if .IsHome}}s-get-touch-home{{end}}">
  <div class="container">
    <div class="s-get-touch__wrap">
      <div class="s-get-touch__left get-touch-left">
        <h2 class="text-uppercase get-touch-title">
          <span class="white-color">GET</span>
          <span class="in-touch">IN TOUCH</span>
        </h2>
        <hr>
        <p class="sub-title">Contact us and you will get a response in no time.</p>
        <img class="illustration-contacts" src="{{ "images/illustration-contacts.svg" | absURL }}">
      </div>
      <div class="s-get-touch__right get-touch-form">
        {{ partial "form-get-in-touch.html" . }}
      </div>
    </div>
  </div>
</section>