{{ with .Site.Params.header }}
<div class="top-notif">
  <a href="{{ .top_notif_url | absURL }}" class="top-notif-link">
    Help Ukraine to stop Russian aggression >>
  </a>
</div>
{{ end }}
<div class="header">
  <div class="header-toolbar">
    <a class="small-logo" href="{{ .Site.BaseURL }}">
      <img src="{{ "images/favicon.svg" | absURL }}" alt="Webdevelop.pro" />
    </a>
    <ul class="header-menu">
      <li class="logo">
        <a href="{{ .Site.BaseURL }}">
          <img src="{{ "images/logo.svg" | absURL }}" alt="Webdevelop.pro" />
        </a>
      </li>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="is-submenu {{ if $currentPage.HasMenuCurrent "main" . }}router-link-active{{ end }}">
            <a href="{{ .URL | absURL }}">
              {{ .Name }}
            </a>
            <ul class="dropdown-list submenu">
              {{ range .Children }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}router-link-active{{ end }}">
                  <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                </li>
              {{ end }}
            </ul>
          </li>
        {{ else }}
          <li>
            <a href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    <div class="header-menu-mobile">
      <a class="humburger">
        <div id="menu-toggle">
          <div id="hamburger"><span></span><span></span><span></span></div>
          <div id="cross"><span></span><span></span></div>
        </div>
      </a>
      <div id="mob-menu" class="mobile-menu">
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/how-we-work">Our Workflow</a></li>
          <li><a href="/our-approach">Our Approach</a></li>
          <li><a href="/startup-dev-kit">DevKit</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Resources</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/contacts">Contact us</a></li>
        </ul>
        <div class="bottom-wrap">
          <p class="small-text">Find out how to launch your startup</p>
          <a href="/contacts" class="v-btn v-btn--router theme--light accent">
            Free Consultancy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>