<a href="{{ .Permalink | absURL }}" class="post_item">
  <div class="post_item__pulish-date">
    <div class="day">
      {{ .Date.Day }}
    </div>
    <div class="date decorative-heavy">
      {{ .Date.Month }} {{ .Date.Year }}
    </div>
  </div>
  <div class="mobile decorative-heavy">
    {{ .Date.Month }} {{ .Date.Day }}, {{ .Date.Year }}
  </div>
  <div class="post_item__details">
    <h4 class="post_name">
      {{ .Title }}
    </h4>
    <p class="post_excerpt">
      {{ .Description | plainify }}
    </p>
  </div>
  <div class="post_item__image">
    <img src="{{ if .Params.image }}{{ .Params.image }}{{ else }}/images/blog/sharing.png{{ end }}" alt="{{ .Title }}">
  </div>
</a>