{{ define "main" }}

<section class="site-careers">
  {{ partial "base-title.html" . }}
  <div class="container">
    <div class="careers-wrap">
      <div class="careers-left-sidebar">
        <nav class="timeline-nav wayp-lists">
          {{ $counter := 0 }}
          {{ range .Params.careersCountry }}
            {{ $counter = add $counter 1 }}
            <a href="#item-{{ $counter }}" class="nav-item {{ if eq $counter 1 }}active{{ end }}">
              <span class="nav-el">{{ . }}</span>
            </a>
          {{ end }}
        </nav>
      </div>
      <div class="careers-content">
        {{ $counter := 0 }}
        {{ $pages := .Pages }}
        {{ range .Params.careersCountry }}
          {{ $counter = add $counter 1 }}
          <div id="item-{{ $counter }}" class="careers-card-list tracked">
            <h2 class="is-h2-title">{{ . }}</h2>
            <div class="layout stretch row wrap">
              {{ range where $pages "Params.country" . }}
                <div class="card">
                  <div class="card-name decorative-heavy">{{ .Title }}</div>
                  <a href="{{ .Permalink | absURL }}">
                    <div class="card-title is-h4-title">{{ .Description }}</div>
                  </a>
                  {{ $content := .Content | plainify | truncate 84 }}
                  <p>{{ replace (replace (replace $content "About us" "") "The Role:" "") "Role:" "" }}</p>
                  <div class="btn-row">
                    <a href="{{ .Permalink  | absURL }}" class="v-btn v-btn--block v-btn--large theme--light accent">
                      <div class="v-btn__content">Apply now</div>
                    </a>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}