<section class="s-approach">
  <div class="container">
    <div class="s-approach__wrap">
      <div class="s-approach__left">
        <h2 class="text-uppercase approach-title">
          <span class="white-color">Our</span>
          <span class="working">working approach</span>
        </h2>
        <div class="approach-wrap">
          <hr>
          <div class="approach-home-slider swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="item">
                  <p>
                    The pen &amp; paper works best for you? That’s great. We are here to 
                    help you put your idea into shape. Then we can start the process of 
                    transforming your idea into a&nbsp; successful product.
                  </p>
                </div> 
              </div>
              <div class="swiper-slide">
                <div class="item">
                  <p>
                    Without implementation, an idea remains just an idea. There’s also 
                    time and budget limit to any product realization. You can rely on 
                    our skills and expertise to help you find the right  methods to achieve your goals.
                  </p>
                </div> 
              </div>
              <div class="swiper-slide">
                <div class="item">
                  <p>
                    First, we need to complete the process of product development. 
                    Then, we need to perfect the product. We will make sure that 
                    your product is secure and reliable. We will optimize its 
                    performance  and improve its usability. These are the real 
                    challenges, and we can help you with all that.
                  </p>
                </div>
              </div>
            </div>
            <div class="approach-scrollbar-wrap">
              <div class="swiper-scrollbar">
                <div class="approach-mark idea">
                  <div class="approach-mark-dot"></div>
                  <div class="approach-mark-label">idea</div>
                </div>
                <div class="approach-mark solution">
                  <div class="approach-mark-dot"></div>
                  <div class="approach-mark-label">solution</div>
                </div>
                <div class="approach-mark product">
                  <div class="approach-mark-dot"></div>
                  <div class="approach-mark-label">product</div>
                </div>
              </div>
            </div>
          </div>       
        </div>
      </div>
      <div class="s-approach__right">
        {{ partial "devkit-book.html" . }}
      </div>
    </div>
  </div>
</section>