<section class="s-main-partners">
  <div class="container">
    <h6 class="text-uppercase">
      Providing a Seamless integration with any third-party tool or service
    </h6>
    <div class="img-slider">
      <div class="img-slider-item mail-chimp">
        <img src="{{ "images/main-logos/mail-chimp.png" | absURL }}" alt="mail-chimp" loading="lazy">
      </div>
      <div class="img-slider-item hubspot">
        <img src="{{ "images/main-logos/hubspot.png" | absURL }}" alt="hubspot" loading="lazy">
      </div>
      <div class="img-slider-item plaid">
        <img src="{{ "images/main-logos/plaid.png" | absURL }}" alt="plaid" loading="lazy">
      </div>
      <div class="img-slider-item github">
        <img src="{{ "images/main-logos/github.png" | absURL }}" alt="github" loading="lazy">
      </div>
      <div class="img-slider-item google-cloud">
        <img src="{{ "images/main-logos/google-cloud.png" | absURL }}" alt="google-cloud" loading="lazy">
      </div>
      <div class="img-slider-item dwolla">
        <img src="{{ "images/main-logos/dwolla.png" | absURL }}" alt="dwolla" loading="lazy">
      </div>
      <div class="img-slider-item sift">
        <img src="{{ "images/main-logos/sift.png" | absURL }}" alt="sift" loading="lazy">
      </div>
    </div>
  </div>
</section>