<section class="s-main-bloglist">
  <div class="container">
    <div class="blog-list__header">
      <h2>FEATURED FROM BLOG</h2>
      <hr>
      <div class="sub-title">
        Development experience, advices and other stories
      </div>
    </div>
    <div class="blog-list-items">
      {{ with .Site.GetPage "/end-war" }}
        {{ $dateFormated := .Date.Format "Jan, 02, 2006" }}
        {{ $newDate := split $dateFormated "," }}
        {{ $month := index $newDate 0 }}
        {{ $day := index $newDate 1 }}
        {{ $year := index $newDate 2 }}
        <a href="/end-war/" class="post_item">
          <div class="post_item__pulish-date">
            <div class="day">
              {{ $day }}
            </div>
            <div class="date decorative-heavy">
              {{ $month }} {{ $year }}
            </div>
          </div>
          <div class="mobile decorative-heavy">
            {{ $month }} {{ $day }}, {{ $year }}
          </div>
          <div class="post_item__details">
            <h4 class="post_name">
              {{ .Title }}
            </h4>
            <p class="post_excerpt">
              {{ .Description | plainify }}
            </p>
          </div>
          <div class="post_item__image">
            <img src="/images/top-bg.jpg" alt="Ukraine image">
          </div>
        </a>
      {{ end }}
      {{ range first 3 (where .Site.RegularPages "Section" "blog") }}
        {{ partial "post-item.html" . }}
      {{ end }}
    </div>
    <div class="bottom-btn">
      <a href="/blog" class="v-btn v-btn--router theme--light sky">
        View More
      </a>
    </div>
  </div>
</section>