<section class="s-main-bloglist">
  <div class="container">
    <div class="blog-list__header">
      <h2>Featured from blog</h2>
      <hr>
      <div class="sub-title">
        Development experience, advices and other stories
      </div>
    </div>
    <div class="blog-list-items">
      {{ range first 3 (where .Site.RegularPages "Section" "blog") }}
        {{ partial "post-item.html" . }}
      {{ end }}
    </div>
    <div class="bottom-btn">
      <a href="/blog" class="v-btn v-btn--router theme--light sky">
        View More
      </a>
    </div>
  </div>
</section>