<section class="s-main-tabs">
  <div class="container">
    <div class="v-tabs">
      <div class="v-tabs__bar">
        <div class="v-tabs__wrapper">
          <div class="v-tabs__container">
            <div class="v-tabs__slider-wrapper"><div class="v-tabs__slider accent"></div></div>
            {{ range .Site.Data.tabs.tabsItems }}
              <div class="v-tabs__div" data-tabs="{{ .tabId }}">
                <div class="v-tabs__item">
                  <img src="{{ .img | absURL }}" alt="{{ .title }}" />
                  <h5>
                    {{ .title }}
                  </h5>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="v-window">
      <div class="v-window__container">
        {{ range .Site.Data.tabs.tabsContent }}
          <div class="v-window-item" id="{{ .tabId }}">
            <div class="layout row wrap">
              <div class="item--left">
                <h3>
                  {{ .title }}
                </h3>
                <p class="sub-title">
                  {{ .subTitle }}
                </p>
              </div>
              <div class="item--right">
                <p>
                  {{ .text }}
                </p>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>  
  </div>
</section>
