<section class="s-main-product">
  <div class="container">
    <div class="product__header">
      <h2>CUSTOM SOFTWARE PRODUCTS</h2>
      <hr>
      <div class="sub-title">We create successful and profitable software to meet your business needs</div>
    </div>
    <div class="product__children">
      <div class="product__children--item">
        <img src="{{ "images/fintech-software.svg" | absURL }}" alt="Fintech">
        <h5>Fintech Software</h5>
        <p>Our team has a proven track record in delivering successful Fintech products</p>
        <a href="/service/fintech-software" class="uppercase-link">learn more</a>
      </div>
      <div class="product__children--item">
        <img class="e-commerce-software" alt="E-commerce Software" src="{{ "images/e-commerce-software.svg" | absURL }}">
        <h5>E-commerce Software</h5>
        <p>We have extensive expertise in designing and developing custom E-commerce software</p>
        <a href="/service/e-commerce-software" class="uppercase-link">learn more</a>
      </div>
      <div class="product__children--item">
        <img class="iot-software" alt="IoT Software" src="{{ "images/iot-software.svg" | absURL }}">
        <h5>IoT Software</h5>
        <p>Implementation of the latest IoT Technology trends in your business</p>
        <a href="/service/iot-software" class="uppercase-link">learn more</a>
      </div>
      <div class="product__children--item">
        <img class="ai-ml-development" alt="IoT Software" src="{{ "images/ai-ml-development.svg" | absURL }}">
        <h5>AI/ML Development</h5>
        <p>End-to-end Machine Learning, Data Science and AI software development</p>
        <a href="/service/ai-ml-development" class="uppercase-link">learn more</a>
      </div>
    </div>
    <div class="product__btn">
      <a href="/services" class="v-btn v-btn--router theme--light accent">
        View All Services
      </a>
    </div>
  </div>
</section>