<section class="s-main-bloglist">
  <div class="container">
    <div class="blog-list__header">
      <h2>FEATURED FROM BLOG</h2>
      <hr>
      <div class="sub-title">
        Development experience, advices and other stories
      </div>
    </div>
    <div class="blog-list-items">
      <a href="/blog/hiring-software-development-talent-challenge" class="post_item">
        <div class="post_item__pulish-date">
          <div class="day">14</div>
          <div class="date decorative-heavy">Jul 2020</div>
        </div>
        <div class="mobile decorative-heavy">Jul 14, 2020</div>
        <div class="post_item__details">
          <h4 class="post_name">Hiring software development talent challenge</h4>
          <p class="post_excerpt">
            It seems that an ideal interview does not exist. Firstly, such standard prefixes as "junior-middle-senior-lead" are not universal, as each company has its own ratings and metrics and there is too much variety of necessary skills. Moreover, recruitment
            metrics also change with the growth of the company.
          </p>
        </div>
        <div class="post_item__image">
          <img alt="Hiring software development talent challenge" src="https://media.webdevelop.pro/1.Hiring_1f2e2a2cb4ad01ba157998f70cf360153b8e9fd8.jpg">
        </div>
      </a>
      <a href="/blog/hiring-software-development-talent-challenge" class="post_item">
        <div class="post_item__pulish-date">
          <div class="day">12</div>
          <div class="date decorative-heavy">Jul 2020</div>
        </div>
        <div class="mobile decorative-heavy">Jul 12, 2020</div>
        <div class="post_item__details">
          <h4 class="post_name">Long Term Relationships With Webdevelop Pro</h4>
          <p class="post_excerpt">
            Our priority at Webdevelop Pro is to partner with small teams for the long haul. 
            It may sound cliché but truthfully, we’re at our best when we’re helping 
            our partners grow over the long term, flexibly adapting to new business 
            needs as the team and business scales.
          </p>
        </div>
        <div class="post_item__image">
          <img alt="Hiring software development talent challenge" src="https://media.webdevelop.pro/4.Long_term_relations_1d3effbaed333f0fd88935cd3f1ac0c0494d3ba8.jpg">
        </div>
      </a>
    </div>
    <div class="bottom-btn">
      <a href="/blog" class="v-btn v-btn--router theme--light sky">
        View More
      </a>
    </div>
  </div>
</section>