{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Top Section Start -->" | safeHTML }}
  <section class="s-main-top">
    <div class="container">
      <video autoplay="autoplay" muted="muted" loop="loop">
        <source src="{{ "video/video-bg.mp4" | absURL }}" type="video/mp4">
      </video>
      <div class="center-wrap">
        <h1 class="text-uppercase">
          {{ .heading }}
        </h1>
        <hr />
        <p class="sub-title">{{ .tagline }}</p>
      </div>
    </div>
  </section>
  {{ "<!-- Site Top Section End -->" | safeHTML }}
  {{ end }}
{{ end }}